<div class="about">
    <div>
    <H2>Who we are</H2>
    <p>Youth of Sumud is a grassroots political formation that resists Israeli <span class="regular-underline">settler colonialism</span> and advocates for a free and liberated Palestine. As our communities face elimination, we stand in solidarity as our families have for generations to remain on our ancestral lands. Unlike other organizations, this means we are physically present with at-risk families when they are facing immense pressure and violence.
    </p>
    <a class="btn-white" href="/about/">MORE</a>
    </div>
</div>
<style>

  .regular-underline{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
  }

  .about{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    box-shadow: 0 0 0 100vmax var(--clr-neutral-900);
    clip-path: inset(0 -100vmax);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
  }

    .about h2{
      margin-bottom: 2rem;
    }

  .btn-white{
  color: var(--clr-neutral-900);
  border: 0.75px solid var(--clr-neutral-100);
  border-radius: 0.25em;
  background-color: var(--clr-neutral-100);
  font-size: .8rem;
  margin: 5px;
  padding: 0.35rem 1.25rem;
  text-decoration: none;
  }

</style>