<div style="padding-top: 2rem; padding-bottom: 2rem;">
    <img class="about-logo" src="https://res.cloudinary.com/abualex/image/upload/v1676121710/yos-all-black.svg" >
    <p>Youth of Sumud is a grassroots political formation that resists Israeli settler colonialism and advocates for a free and liberated Palestine. As our communities face elimination, we stand in solidarity as our families have for generations to remain on our ancestral lands.
    </p>
</div>
<style>
 .about-logo{
  box-shadow: none !important;
  height: 2rem;
  margin-bottom: 1rem;
  }
</style>