<div style="padding-top: 2rem; padding-bottom: 2rem;">
    <p>Youth of Sumud is a grassroots political formation that resists Israeli settler colonialism and advocates for a free and liberated Palestine. As our communities face elimination, we stand in solidarity as our families have for generations to remain on our ancestral lands.
    </p>
</div>