 <div>
      <H3>Our Activists</H3>
      <div class="profile-pics">
        <a href="https://twitter.com/HurainiSami" target="_blank"><img class="hero-grid-photos" src="https://res.cloudinary.com/abualex/image/upload/v1674905126/sami.webp"></a>
        <a href="https://twitter.com/Ali_awad1998" target="_blank"> <img class="hero-grid-photos" style="aspect-ratio: 1/1;" src="https://res.cloudinary.com/abualex/image/upload/v1675262796/ali.webp"></a>
        <a href="https://www.facebook.com/malik.789456123" target="_blank"><img class="hero-grid-photos" src="https://res.cloudinary.com/abualex/image/upload/v1675262986/malik.webp"></a>
      </div>
          <p class="hero-block-quote" style="margin-top: 25px !important;">
            "When the boot of the oppressor is on the neck of the people, we are called to be in solidarity on the ground."<br><br>&mdash;  SAMI HURAINI </span>
          </p>
    </div>
     
    
</div>
<style>
  .hero-grid-photos{
    box-shadow: none;
    height: 4rem;
    display: inline-block;
  }
</style>