 <div class="activists">
      <H2>Youth of Sumud Organizers</H2>
      <h4>Being on the frontlines resisting Israeli violence and indigenous erasure, our founding members have been arrested, beaten, and imprisoned while standing in solidarity with the must vulnerable. </h4>
      
      <div class="activist-profile-grid">
        <div class="profile-block left-activist-profile">
          <img src="https://res.cloudinary.com/abualex/image/upload/v1676386696/sami-mug.webp">
          <p>Sami<br>Huraini</p>
        </div>

        <div class="profile-block middle-activist-profile">
          <img src="https://res.cloudinary.com/abualex/image/upload/v1676387693/ali-mug.webp">
          <p>Ali<br>Awad</p>
        </div>

        <div class="profile-block right-activist-profile">
          <img src="https://res.cloudinary.com/abualex/image/upload/v1676387888/malik-mug.webp">
          <p>Malik<br>Huraini</p>
        </div>
      </div>

      
      
     
      </div>
          <p class="quote" style="margin-top: 25px !important;">
            "When the boot of the oppressor is on the neck of the people, we are called to be in solidarity on the ground."<br><br>&mdash;  <span class="underlined">Sami Huraini</span>
          </p>
      </div>
     
    
</div>
<style>
  


  .activist-profile-grid{
    display: grid;
    grid-template-areas: 
      "left middle right";
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    justify-items: start;
    align-items: center;
  }

  .left-activist-profile{
    grid-area: left;
  }

  .middle-activist-profile{
    grid-area: middle;
  }

  .right-activist-profile{
    grid-area: right;}

  .activists{
    padding-top: 4rem; 
    padding-bottom: 4rem;
    align-items: center;
    display: grid;
  }

  .activists H4{
    margin-bottom: 2rem;
  }
  
  .activists img{
    height: 4rem;
    display: inline-block;
    aspect-ratio: 1/1;
    content-fit: cover;
  }

  .quote{
      background-image: url("https://res.cloudinary.com/abualex/image/upload/v1676366459/quote-right.svg");
      background-repeat: no-repeat;
      background-position: right 5% bottom 95%;
    }

  .profile-block p{
    font-size: .65rem;
    line-height: .75rem;
    font-weight: 500;
  }


</style>