<li>
    <article class="snippet">
        <img src="{{ post.data.image }}" class="snippet__image" alt="{{ post.data.imageAlt }}">
        <h2 class="snippet__title">{{ post.data.title }} </h2>
        <p class="hero-paragraph">by <span>{{ post.data.author}}</span><br><span>{{ post.data.date | postDate }}</span></p>
        <p class="hero-paragraph">{{ post.data.description }}</p>
        <a href="{{ post.url }}" class="gsc-button">MORE</a>
    </article>
</li>

<style>
 .gsc-button{
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  padding: .35rem 1.25rem;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
  font-size: .8rem;
  background-color: var(--clr-neutral-900);
  color: white;
  font-weight: 300;
  display: flex;
}

.gsc-botton a{
  color: red;}
</style>