<li>
  <hr style="margin-bottom: 3rem;">
    <article class="snippet">
      <div class="snippet-area-image">
        <figure>
        <img src="{{ post.data.image }}" class="snippet__image" alt="{{ post.data.imageAlt }}">
        <figcaption class="snippet__caption">{{ post.data.imageAlt }}</figcaption>
        </figure>
        </div>
        <div class="meta">
        <h2 class="snippet__title">{{ post.data.title }} </h2>
        <p class="snippet__meta">by <span>{{ post.data.author}}</span><br><span>{{ post.data.date | postDate }}</span></p>
        {# <p class="hero-paragraph">{{ post.data.description }}</p> #}
        <div class="flex-group">
          <a href="{{ post.url }}" class="gsc-button">MORE</a>
        </div>
        </div>
    </article>
</li>

<style>
 .gsc-button{
  cursor: pointer;
  text-decoration: none;
  padding: .35rem 1.25rem;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
  font-size: .8rem;
  background-color: var(--clr-neutral-900);
  color: white;
  font-weight: 300;
}

.gsc-botton a{
  color: red;
  }
  figcaption{
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--clr-neutral-900);
    margin-top: 0.5rem;
  }
</style>