<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
 {% include 'header.njk' %}
<div>{% include 'hero-section.njk' %}</div>
    <div class="container">
 

    
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    </div>
    <div class="footer-bottom-section">
    <div><a href="https://goodshepherdcollective.org" target="_blank"><img class="footer-logo"  src="https://res.cloudinary.com/abualex/image/upload/v1673851878/Logos/good-shepherd-collective-logo-white-clear-background.svg" alt="Good Shepherd Collective Logo"></a></div>
    <div><p class="footer-text">Powered by the Collective</p></div>
  
  </div>
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>

<style>
  .logo{
    box-shadow: none;
  }
</style>