

<section>
  <div class="visit-grid visit">

<form action="/.netlify/functions/subscribe" method="post">
<h1>Join our mailing list</h1>
<p>As social media networks continue to silence critical Palestinian voices, signing up to our emails represent one way you can ensure you're staying connected to the voices on the ground.</p>
      <div class="input">
        <input type="text" class="button" id="name" name="name" placeholder="YOUR NAME">
      </div>
      <div class="input">
        <input type="text" class="button" id="email" name="email" placeholder="NAME@EXAMPLE.COM">
      </div>
      <div class="input">
        <input type="submit" class="button" id="submit" value="SIGN UP">
      </div>
    </form>
  </div>
</section>

<style>
  .visit{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    box-shadow: 0 0 0 100vmax var(--clr-neutral-900);
    clip-path: inset(0 -100vmax);
    height: 75vh !important;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    
    }

    .visit input{
      border: .75px solid var(--clr-neutral-100);
      border-radius: 5px;
      background-color: var(--clr-neutral-100);
      font-size: .8rem;
      margin: 5px;
      display: flex;
      padding: .35rem 1.25rem;
    }

.input input[type="submit"] {
  text-align: center;
}
 
</style>