

<section>
  <div class="visit-grid visit">

<form action="/.netlify/functions/subscribe" method="post">
<img class="about-logo" src="https://res.cloudinary.com/abualex/image/upload/v1676121425/yos-white-logo.svg" >
<h1>Join our mailing list</h1>
<p>As social media networks continue to <span class="underlined">silence critical Palestinian</span> voices, signing up to our emails represent one way you can ensure you're staying connected to the voices on the ground.</p>
      <div class="input">
        <input required type="text" class="button" id="name" name="name" placeholder="Name">
      </div>
      <div class="input">
        <input required type="text" class="button" id="email" name="email" placeholder="Email">
      </div>
      <div class="input gsc-button" style="padding: 0;">
        <input type="submit" class="button" id="submit" value="SIGN UP">
      </div>
    </form>
  </div>
</section>

<style>
  .about-logo{
    box-shadow: none;
    width: 5rem;
  }
  .visit{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    box-shadow: 0 0 0 100vmax var(--clr-neutral-900);
    clip-path: inset(0 -100vmax);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    }

    .visit input{
      border: .75px solid var(--clr-neutral-100);
      border-radius: 0.25em;
      background-color: var(--clr-neutral-100);
      font-size: .8rem;
      margin: 5px;
      display: flex;
      padding: .35rem 1.25rem;
    }

.input input[type="submit"] {
  text-align: center;
}

.visit h1, p{
  margin-bottom: 2.35rem;
}
 
.about-logo{
  margin-bottom: 2rem;
}

 .btn-white{
  color: var(--clr-neutral-900) !important;
  border: 0.75px solid var(--clr-neutral-100);
  border-radius: 0.25em;
  background-color: var(--clr-neutral-100);
  font-size: .8rem;
  margin: 5px;
  padding: 0.35rem 1.25rem !important;
  text-decoration: none;
  }
</style>