<div class="container">
    <div id="gsc-posts"></div>
    </div>

    <script>
        // Define the API endpoint for retrieving posts
const apiUrl = 'https://goodshepherdcollective.org/wp-json/wp/v2/posts?_embed/?&per_page=1';

// Make the API request using fetch
fetch(apiUrl)
  .then(response => response.json())
  .then(data => {
    // Loop through the returned data and create a template for each post
    data.forEach(post => {
      // Create the HTML template
      const template = `
        <div class="post">
          <img class="post-image-template" src="${post.jetpack_featured_media_url}" alt="${post.title.rendered}">
          <h2>${post.title.rendered}</h2>
          <p class="author">Author: Good Shepherd Collective</p>
          <p>${post.excerpt.rendered}</p>
          <a class="btn btn--primary btn-post-template" href="${post.link}">Read More</a>
        </div>
      `;
      
      // Append the template to the HTML
      document.querySelector('#gsc-posts').innerHTML += template;
    });
  })
  .catch(error => {
    console.log(error);
  });


    </script>

    <style>
        .author{
            font-size: .95em;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .post-image-template{
            margin-bottom: 3em;
        }

        .btn-post-template{
            margin-top: 2em;
            margin-bottom: 2em;
        }

    </style>