<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="https://res.cloudinary.com/abualex/image/upload/v1673885829/Youth%20of%20Sumud/YoS-Logo.png" class="logo" width="55px">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>