
<header class="site-header" >
  <div class="site-header-mask">
    
    <h1 class="site-title">We will<br> remain</h1>
    
    
  </div>
</header>
<div class="hero-top hero-grid">
    <div class="hero-grid-1">
      <div class="grid-icon">
        <img  src="https://res.cloudinary.com/abualex/image/upload/v1674908244/river-to-the-sea.webp" style="width: 50px; box-shadow: 0 0 0 0; text-align: center !important; display: inline; margin-bottom: 25px;">
      </div>
       <p class="hero-block-quote">As our communities face elimination, like indigenous communities everywhere, we will stay on our historical lands.</p>
    </div>

    <div class="hero-grid-2">
      <p class="hero-block-quote" style="margin-bottom: 25px !important;"><span>OUR ACTIVISTS<span></p>
      <div class="profile-pics">
        <a href="https://twitter.com/HurainiSami" target="_blank"><img class="hero-grid-photos" src="https://res.cloudinary.com/abualex/image/upload/v1674905126/sami.webp"></a>
        <a href="https://twitter.com/Ali_awad1998" target="_blank"> <img class="hero-grid-photos" style="aspect-ratio: 1/1;" src="https://res.cloudinary.com/abualex/image/upload/v1675262796/ali.webp"></a>
        <a href="https://www.facebook.com/malik.789456123" target="_blank"><img class="hero-grid-photos" src="https://res.cloudinary.com/abualex/image/upload/v1675262986/malik.webp"></a>
      </div>
          <p class="hero-block-quote" style="margin-top: 25px !important;">
            "When the boot of the oppressor is on the neck of the people, we are called to be in solidarity on the ground."<br><br>&mdash;  SAMI HURAINI </span>
          </p>
    </div>
     
    
</div>

<style>

  

  .site-header {
  background-image: url("https://res.cloudinary.com/abualex/image/upload/v1675514346/font-page-background.webp");
  background-position: bottom;
  background-size: cover;
  /* background-attachment: fixed; */
 
  min-height: 70vh;
  position: relative;
  overflow-wrap: break-word;
}

.site-header-mask {
  /*   --mask-source: url('https://res.cloudinary.com/abualex/image/upload/v1675516848/mask.webp');
  --mask-position: bottom;
  --mask-size: cover; */

  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.0);

  -webkit-mask: url("https://res.cloudinary.com/abualex/image/upload/v1675516848/mask.webp");
  -webkit-mask-position: center bottom;
  -webkit-mask-size: 100%;

  mask: url("https://res.cloudinary.com/abualex/image/upload/v1675516848/mask.webp");
  mask-position: bottom !important;
  mask-size: cover !important;

}

.site-title {
  text-align: left;
  font-size: clamp(3.5rem, 9vw + 0.5rem, 4rem);
  {# font-size: 3.5em; #}
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  padding-left: 2.2rem;
  padding-top: 2.2rem;
  position: fixed;
  display: inline;
  {# border: 2px solid #ED2B34; #}
  display: inline-block;
  width: 90%;
  filter: drop-shadow(1px -2px 3px rgba(0, 0, 0, .5));
  color: white;
}

.site-title-smaller {
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  padding-left: 1.2rem;
  position: fixed;
  width: 100%;
  transform: translateY(7.5rem);
   {# border: 2px solid #ED2B34; #}
  display: inline-block;
  width: 90%;
}


  .hero-grid-photos{
    border-style: none;
    border-radius: 50%; 
    display: inline !important; 
    width: 2em;
  }

  .hero-icon: {
    display: grid;
    place-items: center;
  }

 .hero-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  grid-column-gap: 4em;
 }

 .hero-grid-1{
  grid-area: left;
  justify-self: end;
  text-align: right;
  align-self: center;
 }

 .hero-grid-2{
  grid-area: right;
  justify-self: center;  
 }



.hero-title{
  text-decoration: underline;
  text-decoration-color: #ED2B34;
  color: var(--clr-neutral-900);
  font-size: clamp(4rem, 13vw, 13rem) !important;
  margin-bottom: 25px;
}

.hero-smaller{
  color: var(--clr-neutral-900);
  font-weight: 200;
  margin-bottom: 3em;
}

.hero-block-quote{
  font-size: .75em;
  font-weight: 300;
}

.activist-title{
  font-size: .75em;
  font-weight: 500;
  margin-bottom: 1em;
  color: var(--clr-neutral-400);
  }

@media (max-width: 600px){

  .grid-icon{
    display: grid; 
    place-items: center;
  }


  .hero-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "left" 
                      "middle" 
                      "right";
  grid-row-gap: 4em;
  justify-content: center;
 }

 .hero-grid-1{
  background-color: var(--clr-primary-200) !important;
  box-shadow: 0 0 0 100vmax var(--clr-primary-200);
  clip-path: inset(0 -100vmax);
  padding-top: 2.5em;
  padding-bottom: 2.5em;
 }

 .hero-icon{
  display: inline;
 }

 .hero-block-quote{
  text-align: center;
 }
 

 .hero-grid-3{
  background-color: var(--clr-primary-200) !important;
  box-shadow: 0 0 0 100vmax var(--clr-primary-200);
  clip-path: inset(0 -100vmax);
  padding-top: 2.5em;
  padding-bottom: 2.5em;
 }

 .profile-pics{
  text-align: center !important;
 }

 .hero-grid-photos{
  width: 3em;
  margin: 5px;
 }

}
  




</style>