<style>
  .site-title {
    text-align: left;
    font-size: clamp(2.5rem, 10vw + 0.5rem, 12rem);
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 10%;
    padding-top: 15%;
    display: inline;
    display: inline-block;
    width: 90%;
    filter: drop-shadow(1px -2px 3px rgba(0, 0, 0, .5));
    color: white;
    text-decoration: underline;
    text-decoration-color: #ED2B34;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .container-hero {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
  }

  .background-image-hero {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
</style>


<div class="container-hero">
  <picture class="background-image-hero">
    <img src="https://res.cloudinary.com/abualex/image/upload/f_auto/v1678112840/background-front.webp"
     alt="Background Front"
     sizes="(max-width: 768px) 100vw, 50vw"
     srcset="
       https://res.cloudinary.com/abualex/image/upload/f_auto/c_scale,w_400/v1678112840/background-front.webp 400w,
       https://res.cloudinary.com/abualex/image/upload/f_auto/c_scale,w_800/v1678112840/background-front.webp 800w,
       https://res.cloudinary.com/abualex/image/upload/f_auto/c_scale,w_1200/v1678112840/background-front.webp 1200w,
       https://res.cloudinary.com/abualex/image/upload/f_auto/c_scale,w_1600/v1678112840/background-front.webp 1600w,
       https://res.cloudinary.com/abualex/image/upload/f_auto/c_scale,w_2000/v1678112840/background-front.webp 2000w,
       https://res.cloudinary.com/abualex/image/upload/f_auto/c_scale,w_2400/v1678112840/background-front.webp 2400w"
/>
  </picture>
  <h1 class="site-title">We will remain</h1>
</div>
