<div style="overflow: hidden;">
<ul class="carousel x-slide">
  <li class="item">{% include 'defundracism_posts.njk' %}</li>
  <li class="item">{% include 'gsc_posts.njk' %}</li>
  <li class="item">{% include 'mondoweiss_posts.njk' %}</li>
  <li class="item">{% include 'mondoweiss_posts.njk' %}</li>
</ul>
<div>

<style>

ul {
 all: unset;
 list-style: none;
 counter-reset: li;
}
.item {
 {# scroll-snap-align: none; #}
 width: 240px;
 flex: 0 0 auto;
 display: grid;
 place-content: center;
 border: 1px solid #ccc;
 background: #eee;
}

.carousel {
  scroll-padding: 0 12px;
  
  display: flex;
  gap: 12px;
}

.x-slide {
 scroll-snap-type: x mandatory;
 overflow-x: auto;
}
</style>