--- 
title: Youth of Sumud
layout: 'base.njk'
---

<img src="https://res.cloudinary.com/abualex/image/upload/v1674652841/GSC-LOGO.svg" alt="Youth of Sumud" width="35px" />
{% for post in defundracism %}
  <h3>{{ post.title.rendered }}</h3>
  <p>{{ post.excerpt.rendered | safe }}</p>
{% endfor %}