--- 
title: Youth of Sumud
layout: 'base-index.njk'
---

<div>
  <div class="about-grid">
    <div class="about-grid-1">
      {% include 'about-yos.njk' %}
    </div>
    <div class="about-grid-2">
      {% include 'activists.njk' %}
    </div>
  <div>
  <div>
    {% include 'email-signup.njk' %}
  </div>
     
  <section>
    <div class="">
      <div class="">
        <div class="hero-image">
        <img src="https://res.cloudinary.com/abualex/image/upload/c_scale,dpr_auto,f_auto,q_auto,w_700/v1674485370/Youth%20of%20Sumud/288878584_1076909229638651_4298605257144378189_n.avif" alt="Youth of Sumud activist at a protest" class="hero__image" width="800px" height="auto">
      </div>
        <h1 class="section-title" style="margin-top: 3rem; margin-bottom: 3rem;">Why nonviolent resistance to dispossession and violence matters</h1>
        <p class="hero-paragraph">Youth of Sumud is a grassroots formation representing the continuation of the Palestinian nonviolent resistance to Israeli state violence and ethnic cleansing. We are a group of activists following in the footsteps of the generations that have organized to stay on their lands. </p>
        <div class="flex-group">
          <a href="#featured-articles" class="gsc-button">MORE</a>
        </div>
      </div>
      
    </div>
  </section>

  <section id="featured-articles" class="featured-articles">
    
    <div class="flow">
      <h2 class="section-title">Youth of Sumud in print</h2>
      <p class="hero-paragraph">Here is a sample of articles that reflect the work and perspective of our activists on the ground.</p>
      <ul role="list" class="articles__list flow">
        
        {%- for post in collections.featured | reverse -%}
          {%- if loop.index0 < 3 %}
          {% include 'article.snippet.njk' %}
          {%- endif %}
        {%- endfor -%}

      </ul>
  </section>

  <section>
    <h2 style="margin-bottom: 2em;">Critical articles from movement partners</h2>
    <div>{% include 'horizontal-slider.njk' %}</div>
  </section>
  

</div> 
<style>

.second-hero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right";
  grid-column-gap: 2em;
}

.second-hero h1{
  grid-area: left;
}

.second-hero p{
  grid-area: left;
}

.second-hero .btn{
  grid-area: left;
}

.second-hero img{
  grid-area: right;
}

.partner-blog-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left middle right"
}

.partner-blog-container div{
  margin-top: 1em;
}

.parnter-blog-container-left{
  grid-area: left;
}

.partner-blog-container-middle{
  grid-area: middle;
}

.partner-blog-container-right{
  grid-area: right;
}

@media (max-width: 768px) {
  .partner-blog-container{
    display: block;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px){
  .second-hero{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "testing"
                        "title"
                        "text"
                        "button";
}

.second-hero .hero-image{
  grid-area: testing;
  margin-bottom: 1em;
}

.second-hero h1{
  grid-area: title;
}

.second-hero p{
  grid-area: text;
}

.second-hero .btn{
  grid-area: button;
}


}
</style>