--- 
title: Youth of Sumud
layout: 'base.njk'
---
<div class="container">
 <div>
{% include 'hero.njk' %}
</div>      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Why resistance to dispossession and violence matters.</h1>
        <p>Youth of Sumud is a grassroots formation representing the continuation of the Palestinian resistance to Israeli state violence and ethnic cleansing. We are a group of activists following in the footsteps of the generations that have organized to stay on their lands. </p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Find out more</a>
        </div>
      </div>
      <div>
        <img src="https://res.cloudinary.com/abualex/image/upload/v1674485370/Youth%20of%20Sumud/288878584_1076909229638651_4298605257144378189_n.avif" alt="Youth of Sumud activist at a protest" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  
  <div class="container flow">
    <h2 class="section-title">Youth of Sumud in print</h2>
    <h3>Here is a sample of articles that reflect the work and perspective of our activist on the ground.</h3>
    <ul role="list" class="articles__list flow">
      
      {%- for post in collections.featured | reverse -%}
        {%- if loop.index0 < 3 %}
        {% include 'article.snippet.njk' %}
        {%- endif %}
      {%- endfor -%}

    </ul>
</section>
  
<section class="partner-blog-container">
  <div class="parnter-blog-container-left">{% include 'defundracism_posts.njk' %}</div>
  <div class="parnter-blog-container-middle">{% include 'gsc_posts.njk' %}</div>
  <div class="parnter-blog-container-right">{% include 'mondoweiss_posts.njk' %}</div>
</section>
  

</div>

<style>



.partner-blog-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left middle right"
}

.partner-blog-container div{
  margin-top: 1em;
}

.parnter-blog-container-left{
  grid-area: left;
}

.partner-blog-container-middle{
  grid-area: middle;
}

.partner-blog-container-right{
  grid-area: right;
}

@media (max-width: 768px) {
  .partner-blog-container{
    display: block;
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>